/***** Text - Settings *****/
.center {
    text-align: center;
}
.text-size-25 {
    font-size: 25px;
}
.text-size-14 {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color: #7D8696;
}
/***** Img - Rocket - Logo *****/
img.rocket {
    width: 24px;
    height: 24px;
}

/***** Button - Settings *****/
button.set {
    border-radius: 50px;
    width: 156px;
    height: 44px;
    background: linear-gradient(135deg,rgba(112,73,186,0.6785938262939453),rgba(233,80,149,0.3910938262939453));
    color: white;
    border-style: none;
    -webkit-box-shadow: 0px 0px 42px -9px rgba(0,0,0,0.68);
    -moz-box-shadow: 0px 0px 42px -9px rgba(0,0,0,0.68);
    box-shadow: 0px 0px 42px -9px rgba(0,0,0,0.68);
    
}
button.two-set {
    border-radius: 50px;
    width: 195px;
    height: 44px;
    background: linear-gradient(135deg,rgba(112,73,186,0.6785938262939453),rgba(233,80,149,0.3910938262939453));
    color: white;
    border-style: none;
    -webkit-box-shadow: 0px 0px 42px -9px rgba(0,0,0,0.68);
    -moz-box-shadow: 0px 0px 42px -9px rgba(0,0,0,0.68);
    box-shadow: 0px 0px 42px -9px rgba(0,0,0,0.68);
}
/**** Shadow - End ****/
.shadow {
    -webkit-box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.75);
}